html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
/**
*
* Utilities
*
*/

.width-25 {
    width: 25%;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

.padding-horizontal-sm {
    padding: 0 8px;
}

.padding-horizontal {
    padding: 0 16px;
}

.padding-horizontal-lg {
    padding: 0 32px;
}

.padding-vertical {
    padding: 16px 0;
}

.padding-vertical-md {
    padding: 24px 0;
}
/**
*
* Shared components
*
*/
.button {
    padding: 5px 16px;
    border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid rgb(217, 218, 220);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 hsla(0, 0%, 100%, .25);
    text-align: center;
    transition: .2s ease;
    line-height: 20px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.button:hover {
    background-color: #f3f4f6;
    border-color: rgba(27, 31, 35, .15);
}

.button-green {
    color: #fff;
    background-color:#2ea44f;
    border-color:rgba(27, 31, 35, .15);
    box-shadow:none;
}

.button-green:hover {
    background-color: #2c974b;
    border-color: rgba(27, 31, 35, .15);
}

.dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;

}

/**
*
* Navbar
*
*/
.navbar {
    background-color: #24292e;
    padding: 16px 32px 16px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    flex-wrap: wrap;
}

.navbar .dropdown-icon {
    border-top-color: #fff;
    margin-left: 4px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color:  #919396;
}

.navbar .nav-item {
    position: relative;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 16px;
}

.navbar .nav-item:last-child {
    margin-right: 0;
}

.navbar .nav-item .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 100;
    min-width: 158px;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, .2);
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    display: none;
}

.navbar .nav-item .dropdown::before, .navbar .nav-item .dropdown::after{
    position: absolute;
    display: inline-block;
    content: "";
}

.navbar .nav-item .dropdown::before {
    top: -16px;
    right: 9px;
    left: auto;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.navbar .nav-item .dropdown ul.dropdown-list {
    list-style-type: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar .nav-item .dropdown ul.dropdown-list li {
    display: block;
    padding: 0;
    margin: 0;
}

.navbar .nav-item .dropdown ul.dropdown-list li.divider {
    margin: 8px 0;
    border-bottom: 1px solid #e1e4e8;
}

.navbar .nav-item .dropdown ul.dropdown-list li .status-container {
    display: block;
    padding: 0 16px;
}
.navbar .nav-item .dropdown ul.dropdown-list li .status-container .status-main {
    border: 1px solid #e1e4e8;
    display: flex;
    width: 128px;
    padding: 4px 8px; 
    margin: 0;
    margin-top: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: #24292e;
    line-height: 1.2;
    font-size: 12px;
}

.navbar .nav-item .dropdown ul.dropdown-list li .status-container .status-main:hover {
    color: #0366d6;
}

.navbar .nav-item .dropdown ul.dropdown-list li .status-container .status-main g-emoji {
    margin-right: 8px;
}

.navbar .nav-item .dropdown ul.dropdown-list li a {
    display: block;
    color: #24292e;
    padding: 4px 8px 4px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar .nav-item .dropdown ul.dropdown-list li a:hover {
    color: #fff;
    background-color: #0366d6;
}

.navbar .nav-item .dropdown ul.dropdown-list li a.heading {
    padding-right: 16px;
}
.navbar .nav-item .dropdown ul.dropdown-list li a.heading:hover {
    color: #24292e;
    background-color: #fff;
}

.navbar .nav-item.responsive-drawer button{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar .nav-item.responsive-drawer button svg {
    fill: #fff;
    cursor: pointer;
}
.navbar .nav-item.responsive-drawer button svg:hover {
    fill: #919396;
}

.navbar .nav-item.site-logo svg{
    position: relative;
    top: 2px;
}

.navbar .nav-item svg{
    fill: #fff;
    cursor: pointer;
}

.navbar .nav-item:hover .dropdown-icon{
    border-top-color: #919396;
}

.navbar .nav-item:hover svg {
    fill: #919396;
}

.navbar .nav-item .icon-holder {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-item .icon-holder .unread-icon {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 6px;
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    border: 2px solid #24292e;
    background-image: linear-gradient(#54a3ff,#006eed);
}

.navbar .nav-item .icon-holder img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.navbar .nav-item .icon-holder:hover svg {
    fill: #919396;
}
.navbar .nav-item .icon-holder:hover .dropdown-icon {
    color: #919396;
}

.navbar .nav-item.search {
    flex: auto;
    justify-content: flex-start;
}

.navbar .nav-item.search .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 272px;
    background-color: transparent;
    border: 1px solid #444d56;    
    border-radius: 6px;
    padding-right: 8px;
    transition: .4s ease;
    margin-right: 16px;
}

.navbar .nav-item.search .search-box input {
    border: none;
    background-color: transparent;
    min-height: 28px;
    display: flex;
    padding: 0 12px 0 12px;
}
.navbar .nav-item.search .search-box span.slash-holder {
    display: flex;
}

.navbar .nav-item.search .search-box input::-moz-placeholder, .navbar .nav-item.search .search-box input::placeholder, .navbar .nav-item.search .search-box input::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}

.navbar .nav-item.search .search-box.focused {
    max-width: 518px;
    width: 100%;
    background-color: #fafbfc;
}

.navbar .nav-item.search .search-box.focused span.slash-holder{
    display: none;
}

.navbar .nav-item.search .search-box.focused input::-moz-placeholder, .navbar .nav-item.search .search-box.focused input::placeholder, .navbar .nav-item.search .search-box.focused input::-webkit-input-placeholder{
    color:#5d6976;
}

.navbar .nav-item.search a {
    font-weight: 700;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.navbar .nav-item.search a.profile-link img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.navbar .nav-item.search a svg {
    margin-right: 5px;
}

.navbar .nav-item.search a:hover svg {
    fill: #919396;
}

.navbar .nav-item.search a span.pr {
    margin-left: 3px;
}

/**
* Sub Nav
*/
.sub-nav-sticky-container {
    z-index: 3;
    border-bottom: 1px solid #e1e4e8;
    position: sticky;
    top: 0;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.sub-nav-sticky-container .xl-responsive {
    width: 100%;
    max-width: 1216px;
    display: flex;
    justify-content: center;
}

.sub-nav-sticky-container .sticky-profile-image-holder {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    transition: .4s ease;
    opacity: 0;
}

.sub-nav-sticky-container .sticky-profile-image-holder img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
}

.sub-nav-sticky-container .sticky-profile-image-holder .username-text {
    color: #24292e;
}

.sub-nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 0;
    overflow-x: auto;
}

.sub-nav a {
    height: 30px;
    font-size: 14px;
    padding: 8px 16px;
    border-bottom: 2px solid #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #24292e;
    text-decoration: none;
    transition: .4s ease;
    margin: 0;
}

.sub-nav a:hover {
    border-bottom-color: #d1d5da;
}

.sub-nav a svg {
    fill: #959da5;
    margin-right: 4px;
}

.sub-nav a .count-badge {
    min-width: 20px;
    font-size: 12px;
    line-height: 18px;
    padding: 0 6px;
    background-color: #e8eaec;
    border-radius: 2em;
    margin-left: 4px;
    text-align: center;
    font-weight: 500;
}

.sub-nav a.active {
    border-bottom-color: #f9826c;
    font-weight: 700;
}
.sub-nav a.active:hover {
    border-bottom-color: #f9826c;
}

.sub-nav a.active svg {
    fill:  #24292e
}

/**
*
* Main Content Area
*
*/
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    flex-direction: column;
}

.content-container .content-body {
    display: flex; 
    width: 100%; 
    max-width: 1216px;
    justify-content: center; 
}

.repo-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.repo-filter-container {
    display: flex;
    border-bottom: 1px solid #e1e4e8;
    justify-content: space-between;
    align-items: center;
}

.repo-filter-container .search-input-holder, .repo-filter-container  .buttons-holder {
    display: flex;
    align-items: center;
}

.repo-filter-container .search-input-holder {
    flex: auto;
    margin-right: 16px;
}
.repo-filter-container .search-input-holder input {
    -webkit-transform: none;
    -moz-transform: none;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, .2);
    padding: 5px 12px;
    color: #24292e;
    line-height: 20px;
    min-width: 170px;
}

.repo-filter-container .search-input-holder input:focus {
    border-color: #0366d6;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .2);
}

.repo-filter-container  .buttons-holder .button {
    display: flex;
    align-items: center;
}

.repo-filter-container  .buttons-holder .button:first-child {
    margin-right: 8px;
}

.repo-filter-container  .buttons-holder .button:last-child {
    margin-left: 16px;
}

.repo-filter-container  .buttons-holder .button .category {
    font-weight: 400;
    opacity: .75;
    margin-right: 4px;
}

.repo-filter-container  .buttons-holder .button .dropdown-icon {
    border-top-color:  #24292e;
    margin-left: 8px;
    position: relative;
    top: 2px;
}

.repo-filter-container  .buttons-holder .button-green svg {
    fill: rgba(255,255,255,.8);
    position: relative;
    top: 1px;
    margin-right: 4px;
}

.repositories-list {
    padding: 0;
    margin: 0;
    width: 100%;
}

.repositories-list .repository-main {
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    justify-content: center;
}

.repositories-list .repository-main h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
}

.repositories-list .repository-main h3 a {
    color: #0366d6;
    text-decoration: none;
}

.repositories-list .repository-main h3 a:hover {
    text-decoration: underline;
}

.repositories-list .repository-main p.description {
    padding-right: 24px;
    margin: 0;
    margin-bottom: 8px;
    color: #586069;
    font-size: 14px;
    word-break: break-word;
}

.repositories-list .repository-main .info {
    margin: 0;
    margin-top: 12px;
    padding: 0;
}

.repositories-list .repository-main .info .info-item {
    margin-right: 16px;
    font-size: 12px;
    color: #586069;
}

.repositories-list .repository-main .info .info-item .language-color {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid rgba(27, 31, 35, .1);
    margin-right: 3px;
}

.repositories-list .repository-main .info .info-item svg {
    fill: #586069;
    position: relative;
    top: 2px;
    margin-right: 1px;
}

.repositories-list .repository-main .info .info-item a {
    text-decoration: none;
    color:  #586069;
}

.repositories-list .repository-main .info .info-item a:hover {
    color: #0366d6;
}

.repositories-list .repository-main .info .info-item a:hover svg {
    fill: #0366d6;
}

.star-button-holder {
    display: flex;
    justify-content: end;
    align-items: center;
}

.star-button-holder .button {
    font-weight: 400;
    font-size: 12px;
    padding: 3px 12px;
}

.star-button-holder .button span {
    vertical-align: text-bottom;
}

.star-button-holder .button svg {
    fill: #6a737d;
    vertical-align: text-top;
    margin-right: 3px;
}

.profile-area {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    top: -30px;
}

.profile-area .img-name-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
    position: relative;
}

.profile-area .img-name-area .name-area {
    display: flex;
    align-items: center;
    height: max-content;
}

.profile-area .img-name-area .name-area h3 {
    padding: 0;
}
.profile-area .img-name-area .name-area h3 p {
    margin: 0;
    padding: 0;
}

.profile-area .img-name-area .name-area h3 p.fullname-text {
    font-size: 26px;
    color: #24292e;
}

.profile-area .img-name-area .name-area h3 p.username-text {
    font-size: 20px;
    font-weight: 500;
    color: #586069;
}

.profile-area .img-name-area .img-area {
    display: inline-flex;
    height: max-content;
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: center;
}

.profile-area .img-name-area .img-area .user-status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 2em;
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 32px;
    left: 100%;
    margin-left: -50px;
    z-index: 12;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
}

.profile-area .img-name-area .img-area .user-status .user-status-message {
    font-size: 12px;
    display: none;
}

.profile-area .img-name-area .img-area .user-status .user-status-message:hover {
    color: #006eed;
}

.profile-area .img-name-area .img-area .user-status .user-status-emoji-holder>div {
    display: inline-block;
}

.profile-area .img-name-area .img-area .user-status:hover {
    width: 100%;
    max-width: max-content;
}

.profile-area .img-name-area .img-area .user-status:hover .user-status-emoji-holder {
    padding-right: 5px;
}

.profile-area .img-name-area .img-area .user-status:hover .user-status-message {
    display: inline-block;
}


.profile-area .img-name-area img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    z-index: 12;
}

.profile-area .bio-area {
    margin-bottom: 16px;
}

.profile-area .bio-area .bio {
    font-size: 16px;
    color: #24292e;
    margin: 0;
    font-weight: 500;
}

.profile-area .sm-status-area .user-status {
    padding: 4px 8px;
    width: 100%;
    display: flex;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #e1e4e8;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: #24292e
}

.profile-area .sm-status-area .user-status .user-status-emoji-holder {
    margin-right: 8px;
}

.profile-area .sm-status-area .user-status .user-status-message {
    line-height: 1.2;
}

.profile-area .sm-status-area .user-status:hover .user-status-message {
    color: #0366d6;
}

.profile-area .network-info-area {
    display: flex;
    justify-content: start;
    width: 100%;
    line-height: 2;
    flex-wrap: wrap;
    margin: 16px 0;
}

.profile-area .network-info-area .info-item {
    display: inline-block;
    color: #586069;
    line-height: 2;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.profile-area .network-info-area .info-item:first-child {
    margin-left: 0;
}

.profile-area .network-info-area .info-item svg {
    fill: #586069;
    vertical-align: text-bottom;
}

.profile-area .network-info-area .info-item strong {
    color: #24292e;
}

.profile-area .network-info-area .info-item:hover,  .profile-area .network-info-area .info-item:hover strong{
    color: #0366d6;
}

.profile-area .network-info-area .info-item:hover svg {
    fill: #0366d6;
}

.profile-area .contact-area ul.contact-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    color: #24292e;
    font-weight: 500;
}

.profile-area .contact-area ul.contact-list li{
    padding-top: 4px;
}

.profile-area .contact-area ul.contact-list li svg {
    width: 16px;
    height: 16px;
    fill: #6a737d;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.profile-area .contact-area ul.contact-list li a {
    text-decoration: none;
    color: #24292e;
}

.profile-area .contact-area ul.contact-list li a:hover {
    text-decoration: underline;
    color: #0366d6;
}   

.footer {
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding-top: 40px;
    padding-bottom: 8px;
    border-top: 1px solid #e1e4e8;
    color: #24292e;
    font-size: 12px;
    width: 100%;
    max-width: 1280px;
    font-weight: 500;
}

.footer svg.octicon-mark-github {
    fill: #d1d5da;
    cursor: pointer;
    margin-right: 24px;
    vertical-align: text-bottom;
}

.footer svg.octicon-mark-github:hover {
    fill: #6a737d;
}

.footer .footer-links-list {
   padding: 0;
   display: flex;
   flex-grow: 1;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style-type: none;
}

.footer .footer-links-list  li {
    margin-right: 16px;
}

.footer .footer-links-list li a {
    color: #0366d6;
    text-decoration: none;
}

.footer .footer-links-list li a:hover {
    text-decoration: underline;
}

.preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
}

.preloader .rotating-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px solid rgba(36, 41, 46, .2);
    border-right: 3px solid rgba(36, 41, 46, .2);
    border-bottom: 3px solid rgba(36, 41, 46, .2);
    border-left: 3.5px solid rgba(36, 41, 46, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: rotating 1.1s infinite linear;
    animation: rotating 1.1s infinite linear;
}

.preloader .rotating-icon:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes rotating {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }